.portfolio-form-wrapper {
  @include input-element();
  input {
    margin-bottom: 0px;
  }

  @include base-grid();
  grid-template-columns: 1fr;
  padding: 42px;

  .dropzone .dz-preview.dz-image-preview {
    background-color: transparent;
  }

  .dz-remove {
    text-decoration: none;
    color: $warning;
    transition: 0.5s ease-in-out;

    &:hover {
      letter-spacing: 1px;
    }
  }

  .portfolio-manager-image-wrapper {
    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border-radius: 5px;
    }

    .image-removal-link {
      display: flex;
      justify-content: center;
      a {
        font-weight: 900;
        color: $warning;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          letter-spacing: 1px;
        }
      }
    }
  }
}
